<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World example</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.3.7/dist/mini-default.min.css">
  </head>
  <body style='text-align: center;'>

    <h1 class='title'>
        <img src='./icons8-infinity-40.png' /><Br/>
        Hello World!
    </h1>

    <p>
        This is a basic demo of Ice Sickle's extension system!
        You can use this package as a starting point for developing your own.
        All this one did was display this lousy window.
        We know you can build something way better!
    </p>

    <a class='button primary' onclick='window.close()'>Close</a>

  </body>
</html>
